*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: monospace;
    background: linear-gradient(0deg, #8a2387 0%, #e94057 50%, #f27121 100%);
}

input{
    font-family: monospace;
}

button{
    font-family: monospace;
}